body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0em;
  line-height: 1.8em;
  color: rgba(26,26,26,0.80);
}

p {
  line-height: 2;
}

.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 10%;
  padding: 15px 30px;
}

/* Top container css starts*/
#title {
  background: url("../images/blur-bulb.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  color: #FFF;
  height: 40rem;
}

.container-fluid {
  padding: 2% 4%;
}

.navbar {
  padding-right: 10%;
}

.navbar li {
  font-size: 12px;
  letter-spacing: 0.1em;
  margin: 0 1%;
}

.navbar-brand {
  font-size: 3rem;
} 

.nav-link {
  font-size: 0.9rem;
  font-family:'Montserrat-Light', sans-serif;
}

.dd-titlesec-desc-cont {
  display: block;
  float: right;
  margin: 10rem 5rem 0;
}

.dd-titlesec-desc-myname {
  font-family: 'Great Vibes', cursive;
  font-size: 5.625rem;
  font-weight: normal;
}

.dd-titlesec-desc-myrole {
  letter-spacing: 3px;
}
  
/* Top container css ends */

/* Self information section css starts */
.dd-even-section {
  background-color: #EDEEEF;
  padding: 5rem 0;
}

.dd-home-self-mc-profile {
  margin: auto;
  width: 60%;
  text-align: center;
}

.dd-home-self-mc-profile-img {
  margin-bottom: 10%;
  width: 15%;
}

/* Self information section css ends */

/* Skill section css starts */

.dd-home-sa-skill-hd {
  font-size: 2em;
  margin: 6% 0 3% 0;
}

.dd-home-sa-skill-row {
  display: inline-block;
  margin: 2% 0;
  line-height: 2;
  text-align: left;
  width: 50%;
}

.dd-home-sa-skill-img {
  width: 15%;
}

.dd-home-sa-skill-img-odd {
  float: left;
  margin-right: 2rem;
}

.dd-home-sa-skill-img-even {
  float: right;
  margin-left: 2rem;
}

.dd-home-sa-skill-head {
  font-size: 1.4em;
  font-weight: bold
}

/* Skill section css ends */

/* Contact me section css starts */

.dd-home-cm-hd {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4%;
}

.dd-home-cm-req {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 2%;
}

.dd-home-cm-req-desc {
  margin: auto;
  line-height: 2;
  width: 70%;
}

.dd-home-cm-btn {
  margin: 3% 0;
}

/* Contact me section css ends */

/* Footer section css starts */

#footer {
  background-color: #26262A;
  color: #FFF;
  padding: 5% 0;
}

.dd-home-ft-cont {
  margin: auto;
  width: 30%;
}

.dd-home-ft-icon-cont .fab {
  font-size: 1.5rem;
  margin: 5% 2%;
}

/* Footer section css ends */

/* Resume page css starts */

.container-fluid .row {
  text-align: left;
}

.dd-res-work-cont label.card-title {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.6em;
  text-transform: uppercase;
}

.dd-res-work-card-data {
  font-size: 14px;
}

.dd-res-work-card-bd-data-row {
  margin-bottom: 5%;
}

/* Resume page css ends */

/* Blog page css starts */

.dd-blog-quote-icon {
  font-size: 3rem;
  margin-bottom: 5%;
}

.dd-blog-tiles-cont {
  padding: 5%;
}

.dd-blog-tiles-img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  height: 15rem;
}

.dd-blog-tiles-img-01 {
  background: url("../images/blog/business-chart.jpg") no-repeat;
  background-size: cover;
}

.dd-blog-tiles-img-02 {
  background: url("../images/blog/ballpen.jpg") no-repeat;
  background-size: cover;
}

.dd-blog-tiles-img-03 {
  background: url("../images/blog/road.jpg") no-repeat;
  background-size: cover;
}

.dd-blog-tiles-img-04 {
  background: url("../images/blog/writing.jpg") no-repeat;
  background-size: cover;
}

.dd-blog-tiles-img-05 {
  background: url("../images/blog/earth.jpg") no-repeat;
  background-size: cover;
}

.dd-blog-tiles-img-06 {
  background: url("../images/blog/reading.jpg") no-repeat;
  background-size: cover;
}

/* Blog page css ends */

/* About me page css starts */

.dd-about-me-cont {
  padding-top: 3%;
}

.dd-about-me-cont .card {
  border: none;
}

.dd-about-me-card-body-text {
  padding-top: 0;
}

.dd-aboutme-tiles-img-traveller {
  background: url("../images/about/traveller.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-phil {
  background: url("../images/about/phil.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-sw {
  background: url("../images/about/socialwork.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-st {
  background: url("../images/about/finance.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-ath {
  background: url("../images/about/athlete.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-mn {
  background: url("../images/about/trekking.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-al {
  background: url("../images/about/animal.jpg") no-repeat;
  background-size: cover;
}

.dd-aboutme-tiles-img-ms {
  background: url("../images/about/piano.jpg") no-repeat;
  background-size: cover;
}