.top-Cont {
  background-color: #E0EBE8;
  padding: 100px 100px 0;
}

.middle-cont {
  padding-top: 100px;
}

.bottom-cont {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.mc-profile {
  margin: auto;
  width: 30%;
}

.pp-img {
  width: 35%;
}

.skill-img {
  width: 20%;
}

.sk-img-odd {
  float: left;
  margin-right: 30px;
}

.sk-img-even {
  float: right;
  margin-left: 30px;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Great Vibes', cursive;
  font-size: 5.625rem;
  font-weight: normal;
  margin: 50px auto 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size:1.5rem;
  font-weight: normal;
  margin-bottom: 2em;
}

h3, a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.skill-head {
  line-height: 2;
}

.skill-heading {
  font-size: 2em;
  margin-top: 50px;
}

.top-Cloud {
  position: absolute;
  left: 950px;
  top: 225px;
}

.bottom-Cloud {
  position: absolute;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.cm-req-desc {
  margin: auto;
  line-height: 2;
  width: 50%;
}

.hr-separator {
  border : dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.cm-btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  margin: 50px auto;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cm-btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.footer-link {
  margin : 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.ft-name-cc {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
